body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #021024;
    color: white;
    padding: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    transition: font-size 0.3s ease, color 0.3s ease; /* Adiciona uma transição suave para font-size e color */
}

.logo:hover {
    font-size: 2.2em; /* Tamanho da fonte ao passar o mouse */
    color: #052659; /* Cor desejada ao passar o mouse */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    /* Adicione outros estilos desejados ao passar o mouse */
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #7DA0CA;
    margin: 5px 0;
    border-radius: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #C1E8FF;
}

.container {
    display: flex;
}

.half {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

section {
    padding: 2em;
}

/* Adicione as regras para intercalar as cores de fundo das sections */
section:nth-child(even) {
    background-color: #C1E8FF; /* Cor de fundo para sections pares */
}

section:nth-child(odd) {
    background-color: #7DA0CA; /* Cor de fundo para sections ímpares */
}

.separador {
    position: relative;
}

#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #052659;
    color: #7DA0CA;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#goToTopBtn:hover {
    background-color: #7DA0CA;
    color: #021024;
    transform: scale(1.1);
}

footer {
    background-color: #021024;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

.social-icons {
    margin-top: 10px; /* Adiciona uma margem acima dos ícones sociais */
}

.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #CCCCCC;
}

#sobre {
    padding: 2em;
}

#sobre h2 {
    color: #021024;
}

#sobre p {
    color: #021024;
}

#sobre img {

    margin-top: -50px;
}

#educacao {
    padding: 2em;
}

#educacao h2 {
    color: #021024;
}

#educacao p{
    color: #021024;
}

.curso {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #C1E8FF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.curso img {
    margin-right: 10px;
    width: 30px; /* Ajuste conforme necessário */
}

.curso p {
    margin: 0;
}

.curso a {
    color: #021024;
    text-decoration: none;
    padding: 0.5em 1em;
    border: 1px solid #5483B3;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.curso:hover {
    background-color: #5483B3;
}

.curso:hover a {
    color: #021024;
    border-color: #C1E8FF;
}

/*teste*/
.skills-section {
    text-align: center;
    padding: 50px 0;
}

h1 {
    color: #021024;
}

.skills-container {
    display: flex;
    color: #021024;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill-card {
    flex: 1;
    min-width: 300px;
    margin: 15px;
    padding: 20px;
    border: 1px solid #021024;
    border-radius: 8px;
    background-color: #7DA0CA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
    transform: scale(1.05);
    background-color: #021024;
    color: #C1E8FF;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #5483B3;
}
/*fim teste*/

#habilidades {
    padding: 2em;
}

#habilidades h1 {
    color: #021024;
}

#habilidades h2 {
    margin-bottom: 1em;
}

#habilidades ul {
    margin-top: 20px; /* Adiciona uma margem acima da lista de habilidades */
}

#lista-habilidades li {
    color: #021024;
    margin-bottom: 15px; /* Adiciona um espaçamento entre as habilidades */
}

#lista-habilidades {
    padding: 2em;
}

#lista-habilidades ul {
    margin-top: 20px;
}

.habilidade-nome {
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
}

.hidden {
    display: none;
}

.ver-mais-btn {
    background-color: #021024;
    color: #5483B3;
    padding: 0.3em 0.5em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    vertical-align: middle; /* Alinha verticalmente o botão em relação ao texto */
}


.ver-mais-btn:hover {
    background-color: #7DA0CA;
}



#contato {
    padding: 2em;
    text-align: center;
}
#contato h1 {
    color: #021024;
}

#contato button {
    margin-top: 1em;
    background-color: #7DA0CA;
    color: #021024;
    padding: 0.5em 1em;
    border: 1px solid #021024;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

#contato button:hover {
    background-color: #021024;
    color: #7DA0CA;
    border-color: #7DA0CA;
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: black;
        z-index: 1;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .half {
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
        order: 1;
    }

    #educacao a {
        display: block;
        margin-bottom: 10px;
    }

    .curso {
        flex-direction: column;
        align-items: flex-start;
    }

    .divisao {
        flex: 100%; /* Altera para largura total em telas menores */
    }

    
}
